* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', serif;
}

body {
    background: #222;
}

header {
    background-color: #55d6aa;
    height: 70px;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.content {
    width: 80%;
    margin: 0 auto;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.outer {
    float: left;
}

.logo {
    height: 70px;
    width: auto;
}

.logo:hover {
    border-bottom: 2px solid #222;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-top: 25px;
    margin-left: 70px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
    font-size: 0.8em;
    /*font-family: 'Lobster', serif;*/
}

nav ul li a:hover {
    color: #000;
}

nav ul li a:after {
    content: '';
    display: block;
    margin-top: 5px;
    height: 5px;
    width: 100%;
    background-color: #444;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav ul li a:hover::after {
    width: 100%;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

.container {
    position: relative;
    min-height: 100vh;
}

section {
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 20px;
    width: 65%;
    float: left;
    background-color: aliceblue;
    min-height: 90vh;
    padding: 10px;
}

section input {
    width: 100px;
}

aside {
    margin-top: 80px;
    width: 15%;
    padding: 10px;
    text-align: center;
    float: left;
    background-color: aliceblue;
    margin-right: 5px;
    height: 70%;
}

input {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
}

input[type=button],
input[type=submit] {
    border: 1px solid #55d6aa;
}

input[type=button]:hover,
input[type=submit]:hover {
    border: 1px solid #55d6aa;
    background-color: #55d6aa;
    color: white;
    cursor: pointer;
}

footer {
    background-color: aliceblue;
    border-top: 1px solid #55d6aa;
    text-align: center;
    color: #55d6aa;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    position: relative;
    clear: both;
    margin-top: 20px;
    padding-top: 20px;
}